.app-container {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.Main-heading {
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  font-weight: 600;
  color: #a0eed5;
}

.container {
  background-image: url('https://img.freepik.com/free-vector/gradient-abstract-wireframe-background_23-2149020364.jpg?semt=ais_hybrid');
  height: 100vh;
  background-size: cover;
  width: 100%;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
